body {
  background-color: #282c34;
}

.App {
  text-align: center;
  background-color: #282c34;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.titulo {
  font-family: "Trebuchet MS", sans-serif;
  color: #61dafb;

}

.container{
  display: grid;
  gap: 20px 20px;
  padding: 20px 20px 20px 20px;
}

.form {
  margin-top: 10px;
  font-family: "Trebuchet MS", sans-serif;
  border-radius: 4px;
  padding: 8px;
  display:inline-block;
  box-sizing: content-box;
  width: 60%;
}

.mensaje{
  resize: none;
  border-radius: 4px;
  box-sizing: content-box;
  height: 100px;
  width: 60%;
  font-family: "Trebuchet MS", sans-serif;
  padding: 8px;
  font-size: small;

}
.btn {
  margin-top: 15px;
  border-radius: 4px;
  font-family: "Trebuchet MS", sans-serif;
  background-color:#61dafb;
  /*border: none;*/
  border-color: #61dafb;
  color: #282c34;
  padding: 15px 32px;
  text-align: center;

  /*display: inline-block;*/
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

